<!DOCTYPE html>
<html lang="en" th:fragment="layout (title, content)" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:replace="${title}">Garage Management</title>
        <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
        <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav th:replace="layout/navigation :: navbar"></nav>

        <div class="pt-4 container">
            <div th:if="${message}" th:text="${message}" class="alert alert-success" role="alert"></div>

            <div th:replace="${content}"></div>
        </div>
    </body>
</html>