<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/app :: layout(~{::title}, ~{::section})}">
<head>
    <title>Garage Management - Update Customer</title>
</head>
<body>
<section>
    <h1>Update Customer</h1>
    <hr>

    <form th:action="${'/customers/' + customerCommand.id}" method="post" th:object="${customerCommand}" th:method="patch">
        <div th:include="customers/form :: form (button='Update')"></div>
    </form>
</section>
</body>
</html>