<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="form (button)">
    <div class="form-group row">
        <label for="name" class="col-md-2 col-form-label text-md-right">Name</label>
        <div class="col-md-8">
            <input id="name" class="form-control" name="name" type="text" th:errorclass="is-invalid" th:field="*{name}" />

            <span th:if="${#fields.hasErrors('name')}" class="invalid-feedback" role="alert">
                <strong th:text="${#fields.errors('name')[0]}"></strong>
            </span>
        </div>
    </div>

    <div class="form-group row">
        <label for="address" class="col-md-2 col-form-label text-md-right">Address</label>
        <div class="col-md-8">
            <input id="address" class="form-control" name="address" type="text" th:field="*{address}" />
        </div>
    </div>

    <div class="form-group row">
        <label for="city" class="col-md-2 col-form-label text-md-right">City</label>
        <div class="col-md-8">
            <input id="city" class="form-control" name="city" type="text" th:field="*{city}" />
        </div>
    </div>

    <div class="form-group row">
        <label for="postcode" class="col-md-2 col-form-label text-md-right">Postcode</label>
        <div class="col-md-8">
            <input id="postcode" class="form-control" name="postcode" type="text" th:field="*{postcode}" />
        </div>
    </div>

    <div class="form-group row">
        <label for="country" class="col-md-2 col-form-label text-md-right">Country</label>
        <div class="col-md-8">
            <input id="country" class="form-control" name="country" type="text" th:field="*{country}" />
        </div>
    </div>

    <div class="form-group row">
        <label for="phone" class="col-md-2 col-form-label text-md-right">Phone</label>
        <div class="col-md-8">
            <input id="phone" class="form-control" name="phone" type="text" th:field="*{phone}" />
        </div>
    </div>

    <div class="form-group row">
        <label for="email" class="col-md-2 col-form-label text-md-right">Email</label>
        <div class="col-md-8">
            <input id="email" class="form-control" name="email" type="email" th:field="*{email}" />
        </div>
    </div>

    <div class="form-group row">
        <label for="comment" class="col-md-2 col-form-label text-md-right">Comment</label>
        <div class="col-md-8">
            <textarea id="comment" class="form-control" name="comment" th:value="*{comment}"></textarea>
        </div>
    </div>

    <button class="btn btn-primary" type="submit" th:text="${button}">Save</button>
</div>

</body>
</html>