<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Garage Management - Customers</title>
</head>
<body>
    <h1>Customers</h1>
    <hr>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="customer : ${customers}">
                <td th:text="${customer.id}">1</td>
                <td th:text="${customer.name}">John Doe</td>
                <td th:text="${customer.phone}">323343343</td>
                <td></td>
            </tr>
        </tbody>
    </table>

</body>
</html>