<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/app :: layout(~{::title}, ~{::section})}">
<head>
    <title>Garage Management - Customers</title>
</head>
<body>
<section>
    <h1>Customers</h1>
    <hr>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="customer : ${customers}">
                <td><a th:text="${customer.id}" th:href="${'customers/' + customer.id}">1</a></td>
                <td th:text="${customer.name}">John Doe</td>
                <td th:text="${customer.phone}">323343343</td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <div class="text-center" th:if="${customers.size() == 0}">No Customers</div>

    <a class="btn btn-primary" href="/customers/create">Add Customer</a>
</section>
</body>
</html>