<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/app :: layout(~{::title}, ~{::section})}">
<head>
    <title>Garage Management - Customer</title>
</head>
<body>
<section>
    <h1>Customer</h1>
    <hr>
    <table>
        <tr><th>Name</th><td th:text="${customer.name}">John Doe</td></tr>
        <tr><th>Address</th><td th:text="${customer.address}">Wall Street</td></tr>
        <tr><th>City</th><td th:text="${customer.city}">New York</td></tr>
        <tr><th>Country</th><td th:text="${customer.country}">USA</td></tr>
        <tr><th>Phone</th><td th:text="${customer.phone}">2435444</td></tr>
        <tr><th>Email</th><td th:text="${customer.email}">john@example.com</td></tr>
        <tr><th>Comment</th><td th:text="${customer.comment}">Comment</td></tr>
    </table>

    <a href="/customers">Back to Customers</a>
    <a class="btn btn-warning" th:href="${'/customers/' + customer.id + '/edit'}">Edit</a>

    <form th:action="${'/customers/' + customer.id}" method="POST" th:method="delete">
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>


    <h3>Cars</h3>
    <table class="table">
        <thead>
            <tr><th>Number Plate</th><th>Manufacturer</th><th>Model</th><th>Action</th></tr>
        </thead>
        <tbody>
            <tr th:each="car : ${customer.cars}">
                <td th:text="${car.numberPlate}">AAA-1234</td>
                <td th:text="${car.manufacturer}">Nissan</td>
                <td th:text="${car.model}">Pathfinder</td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" th:href="${'/customers/' + customer.id + '/cars/create'}">Add Car</a>
</section>
</body>
</html>