<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/app :: layout(~{::title}, ~{::section})}">
<head>
    <title>Garage Management - Edit User</title>
</head>
<body>
<section>
    <h1>Edit User</h1>
    <hr>

    <div>
        <h2>User Info</h2>

        <form th:action="${'/users/' + userInfoCommand.id}" method="post" th:object="${userInfoCommand}" th:method="patch">
            <div th:include="profile/infoFormFields :: infoFields"></div>

            <button class="btn btn-primary" type="submit">Update</button>
        </form>
    </div>

    <div class="mt-5">
        <h2>Update Password</h2>

        <form th:action="${'/users/' + userInfoCommand.id + '/password'}" method="post" th:object="${passwordCommand}" th:method="patch">
            <div th:include="profile/passwordFormFields :: passwordFields"></div>

            <button class="btn btn-primary" type="submit">Update</button>
        </form>
    </div>
</section>
</body>
</html>