<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/app :: layout(~{::title}, ~{::section})}">
<head>
    <title>Garage Management - Create Visit</title>
</head>
<body>
<section>
    <h1>Create Visit</h1>
    <hr>

    <form th:action="${'/customers/' + car.customer.id + '/cars/' + car.id + '/visits'}"
          method="post"
          th:object="${visitCommand}">

        <div th:include="visit/form :: form (button='Create')"></div>

    </form>
</section>
</body>
</html>