<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/app :: layout(~{::title}, ~{::section})}">
<head>
    <title>Garage Management - Edit Visit</title>
</head>
<body>
<section>
    <h1>Edit Visit</h1>
    <hr>

    <form th:action="${'/customers/' + customerId + '/cars/' + visitCommand.carId + '/visits/' + visitCommand.id}"
          th:method="patch"
          th:object="${visitCommand}">


        <div th:include="visit/form :: form (button='Update')"></div>

    </form>
</section>
</body>
</html>